.container {
  display: flex;
  align-items: center;
  gap: 232px;

  img {
    width: 598px;
  }

  .main_text_wrapper {
    color: $white-color;
    padding: 88px 0;

    .line_wrapper {
      display: flex;
      align-items: center;
      gap: 14px;
      margin-bottom: 0;

      p {
        color: $light-yellow-color;
        @include body-text;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    h2 {
      @include h2-text;
      font-weight: 700;
      margin: 27px 77px 27px 0;
    }

    p {
      @include body-text;
      font-weight: 600;
    }
  }

  .bottom_arrow {
    display: flex;
    align-items: center;
    gap: 9px;
    font-weight: 700;
    color: $light-yellow-color;
    @include body-text;
    margin-top: 27px;
  }
}
