:root {
  font-family: "Open_Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: $dark-yellow-color;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
