.container {
  @include lg {
    margin: 0;
  }
}

.footer {
  background: $vermilion-color;
  padding: 54px 43px 27px 31px;
  border-radius: 24px 24px 0 0;
  margin: 0 64px 0 64px;

  @include lg {
    border-radius: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 62px 48px 34px 48px;
  }

  .main-text_wrapper {
    display: flex;
    align-items: center;
    gap: 198px;
    margin-left: 60px;

    @include lg {
      flex-direction: column;
      gap: 24px;
      margin-left: 0;
    }

    @include md {
      gap: 0;
    }

    h2 {
      @include rubik-font;
      font-size: 56px;
      line-height: 67px;
      font-weight: 700;
      color: #ffdbb8;

      @include md {
        font-size: 42px;
        line-height: 50px;
      }
    }

    .wrapper_about_us {
      display: flex;
      gap: 50px;

      @include lg {
        gap: 45px;
      }

      @include md {
        flex-direction: column;
        text-align: center;
        gap: 32px;
        margin-top: 24px;
      }

      .about_us {
        font-weight: 400;

        h5 {
          color: $white-color;
          @include body-text;
          text-transform: uppercase;
          margin-bottom: 16px;

          @include md {
            font-size: 22px;
            line-height: 33px;
          }
        }

        p {
          color: #ffdbb8;
          font-size: 20px;
          line-height: 30px;
          margin-top: 8px;

          @include md {
            font-size: 22px;
            line-height: 33px;
          }
        }
      }
    }
  }

  .line {
    margin-top: 43px;
    margin-bottom: 43px;
    color: #ffdbb8;
    opacity: 20%;

    @include lg {
      display: none;
    }
  }

  .bottom_texts_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 50px;
    font-weight: 400;

    @include lg {
      margin-left: 0;
      justify-content: space-between;
    }

    @include md {
      display: block;
    }

    .bottom_infos_wrapper {
      display: flex;

      @include lg {
        margin-top: 125px;
      }

      @include md {
        flex-direction: column;
        gap: 41px;
      }

      .number {
        margin-top: 8px;
      }

      & > *:nth-child(1) {
        color: $primary-lighton-color;
        font-size: 20px;
        line-height: 30px;

        @include lg {
          order: 1;
          margin-left: 50px;
        }

        @include md {
          margin-left: 0;
          text-align: center;
        }
      }

      & > *:nth-child(2) {
        margin-left: 154px;
        margin-right: 46px;

        @include lg {
          order: 1;
          margin-right: 0;
        }

        @include md {
          margin-left: 0;
          text-align: center;
        }
      }

      & > *:nth-child(n + 2) {
        color: $white-color;
        @include body-text;

        p {
          color: $primary-lighton-color;
          font-size: 20px;
          line-height: 30px;
          margin-top: 8px;
        }

        @include md {
          margin-left: 0;
          text-align: center;
        }
      }

      .social_icons {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 8px;

        @include md {
          display: inline-flex;
        }
      }
    }

    .copyright {
      color: $white-color;
      font-size: 20px;
      line-height: 30px;

      @include lg {
        display: none;
      }
    }
  }

  .copyright_2 {
    display: none;
    color: $white-color;
    font-size: 20px;
    line-height: 30px;
    margin-top: 87px;

    @include lg {
      display: block;
      text-align: center;
    }
  }
}
