.footer {
  margin-top: 250px;
  padding-bottom: 185px;

  .logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      @include h3-text;
      color: $white-color;
      font-family: "Open_Sans", sans-serif;
    }

    .button_wrapper {
      display: flex;
      align-items: center;
      gap: 55px;
      color: $white-color;

      .button {
        display: flex;
        border-radius: 10px;
      }
    }
  }

  .line {
    color: $white-color;
    opacity: 30%;
    height: 1.5px;
    margin-top: 47px;
  }

  .center_footer {
    display: flex;
    align-items: center;
    padding: 55px 96px 100px 0;
    color: $white-color;
    gap: 252px;

    .footer_main_text {
      h2 {
        font-size: 36px;
        line-height: 50px;
      }

      .email {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        p {
          color: $white-color;
          opacity: 50%;
          @include caption-text;
        }

        .box_arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 69px;
          height: 69px;
          border-radius: 8px 8px 0 0;
          background: $dark-yellow-color;
        }
      }

      .line_email {
        color: $white-color;
        opacity: 30%;
        height: 1.3px;
      }
    }

    .info_wrapper {
      display: flex;
      align-items: baseline;
      gap: 184px;

      h5 {
        color: $yellow-color;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
      }

      p {
        font-weight: 400;
        font-size: 19px;
        margin-top: 10px;
      }
    }
  }

  .footer_end {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer_end_texts {
      display: flex;
      align-items: center;
      gap: 50px;
      color: $white-color;
      @include caption-text;
    }

    .footer_end_icons_wrapper {
      display: flex;
      align-items: center;
      gap: 51px;
    }
  }
}
